body{
    --bink-color:#ed4264;
    --bink-light:#ffedbc;
  
  }
  .nav-link {
    transition: 0.5s;
  }
  .nav-link:hover {
    color: #6d0016;
  }
  .active {
    color: var(--bink-color) !important;
    border-bottom: 2px solid var(--bink-color);
  }
  .modelstyle{
    height: fit-content;
}
.card{
    width: 50vw;
}
.mode hr{
    
    width: 90%; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.subbmitBtn{
    width: 80%;
    background-color: var(--bink-color);
    color: white;
    font-weight: 500;
    font-size: larger;
}
.subbmitBtn:hover{
    background-color: var(--bink-light);
    color: black;
}