body{
  --bink-color:#ed4264;
  --bink-light:#ffedbc;

}
.nav-link {
  transition: 0.5s;
}
.nav-link:hover {
  color: orange;
}
.active {
  color: #45b649 !important;
  border-bottom: 2px solid #45b649;
}
.hero-text {
  padding-top: 1rem;
}

.hero-text h1 {
  font-size: 5rem;
}
.hero-text p {
  width: 100%;
}
.hero-text h1,
.hero-text h2 {
  background: linear-gradient(90deg, var(--bink-color), var(--bink-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* search */
.search-box i{
  position: absolute;
  z-index: 1;
}
.list-group{
  z-index: 0;
}
/* .list-group-item:hover{
  background-color: lightgray;
} */
#ingredients .col-sm-auto{
  font-size: .9rem;
  border: 1px var(--bink-color) solid;
  color: black;
  cursor:default;
}
#ingredients .col-sm-auto .close{
  visibility: hidden;
}
#ingredients .col-sm-auto:hover{
  background-color: lightgray;
}
#ingredients .col-sm-auto:hover .close{
  /* background-color: lightgray; */
  visibility: visible;
}
.hover_col{
  background-color: lightgray;

}

.card {
  cursor: pointer;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-10px);
}
#items h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  background: linear-gradient(90deg, #f12711, #f5af19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer {
  height: 20rem;
  background: linear-gradient(90deg, #dce35b, #45b649);
}

@media (min-width: 768px) {
  .hero {
    background-image: url(/Assets/hero-dish.png);
    background-position: right;
    background-repeat: no-repeat;
  }
  .hero-text h2 {
    font-size: 3rem;
    margin-left: 9rem;
  }
  .hero-text p {
    width: 50%;
  }
}
